@inherits LayoutComponentBase
@inject NavigationManager Nav

<MudThemeProvider Theme="@letsGameTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="gradient-bg">
    <MudAppBar Elevation="3" Fixed="true">
        <MudText Typo="Typo.h4" Class="font-weight-bold">Lets Game</MudText>
        <MudSpacer />
        <MudStack Row="true" Spacing="1" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center">
            <MudIconButton OnClick="@((e) => rightSidebarExpanded = !rightSidebarExpanded)" Icon="@Icons.Material.Outlined.Notifications" Style="@($"color: {Colors.Shades.White};")" />
            <AuthorizeView>
                <Authorized>
                    <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                        <ActivatorContent>
                            <MudAvatar Elevation="6">
                                <MudImage Src="http://localhost:5226/images/default-profile-pictures/default-profile-pic-6.jpg" />
                            </MudAvatar>
                        </ActivatorContent>
                        <ChildContent>
                            <MudPaper Width="300px" Elevation="0">
                                <MudListSubheader>
                                    <MudText>Username</MudText>
                                </MudListSubheader>
                                <MudDivider Style="border-color: var(--mud-palette-lines-default);" />
                                <MudMenuItem>
                                    <MudText Typo="Typo.body1">Account</MudText>
                                </MudMenuItem>
                                <MudMenuItem>
                                    <MudText Typo="Typo.body1">Settings</MudText>
                                </MudMenuItem>

                                <a href="/logout">
                                    <MudMenuItem>
                                        Sign Out
                                    </MudMenuItem>
                                </a>
                            </MudPaper>
                        </ChildContent>
                    </MudMenu>
                </Authorized>
                <NotAuthorized>
                    <MudButton Href="@Url()" Variant="Variant.Filled" Color="Color.Default" Class="mud-button-light">Login</MudButton>
                </NotAuthorized>
            </AuthorizeView>
        </MudStack>
    </MudAppBar>
    <MudDrawer ClipMode="DrawerClipMode.Docked" @bind-Open="@leftSidebarExpanded" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
        <NavMenu @bind-RightSidebarExpanded="rightSidebarExpanded"/>
    </MudDrawer>
    <MudDrawer ClipMode="DrawerClipMode.Docked" @bind-Open="@rightSidebarExpanded" DisableOverlay="false" Variant="@DrawerVariant.Temporary" Elevation="1" Anchor="Anchor.Right" Style="@($"background: var(--mud-palette-primary)")">
        
    </MudDrawer>
    <MudMainContent Class="full-height">
        @Body
    </MudMainContent>
</MudLayout>

@code {

    bool leftSidebarExpanded = false;
    bool rightSidebarExpanded = false;

    MudTheme letsGameTheme = new MudTheme
    {
        LayoutProperties = new LayoutProperties
        {
            DrawerWidthRight = "1000px"
        }
    };

    string Url()
        => $"/login?returnUrl={Uri.EscapeDataString(Nav.ToBaseRelativePath(Nav.Uri))}";

}